@page
@model IndexModel
@{
    ViewData["Title"] = "Клининг в Казани";
}

<section class="hero">
    <div class="hero__overlay"></div>

    <div class="hero__bubbles" id="bubbleField"></div>
    <div class="hero__foam"></div>


    <div class="hero__content">
        <h1 class="hero__title">Откройте для себя простую чистоту в Казани</h1>
        <p class="hero__subtitle">Профессиональная уборка квартир, офисов и помещений после ремонта</p>
        <a href="#contact" class="btn-primary">Оставить заявку</a>
    </div>
</section>

@section Scripts {
    <script src="~/js/bubbles.js"></script>
}